<h2><%= app._('navigation.section.homework') %></h2>

<ul class="nav nav-tabs">
    <li>
        <a href="#">cannot</a>
    </li>
    <% $.each(['due', 'history'], function(idx, type){ %>
        <li class="<%= tab == type ? 'active' : '' %>" data-type="<%= type %>">
            <a href="#homework-<%= type %>" data-toggle="tab">Within template<%= app._('homework.label.homework.' + type) %></a>
        </li>
    <% }) %>

    <li>Boleh</li>
</ul>

<div class="tab-content">
    <% $.each(['due', 'history'], function(idx, type){ %>
        <div id="homework-<%= type %>" data-type="<%= type %>" class="tab-pane <%= tab == type ? 'active' : '' %>"></div>
    <% }) %>
</div>

<% for (var i = 0; i < thresholds.length; i++) {
    if (score === null) {
        klass = 'na',
        score = app._('common.label.na');
        break;
    }

    if (score > thresholds[i][0]) {
        klass = thresholds[i][1];
        break;
    }
} %>

<p>Untranslated p tag</p>
<%== app.view('common/tours/homework.ejs') %>
